body {
font-family: "Ranade", sans-serif;
background-color: #dad7cd;
}
p {
    font-size: 16px;
}
hr {
    display: block;
    color: #a3b18a;
    border-width: 2px;
}

img{
    border-radius: 50%;
}

.sidenav {
height: 100%;
width: 160px;
position: fixed;
z-index: 1;
top: 0;
/* place the sidenav on the right side */
right: 0;
background-color: #344e41;
overflow-x: hidden;
padding-top: 20px;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
text-transform: uppercase;
padding-right: 20px;
text-align: right;
font-size: 25px;
color: #dad7cd;
display: block;
}

.sidenav a:hover {
color: #f1f1f1;
}

.header-block {
    display: flex;
    align-items: center;      /* vertically center image + text */
    gap: 20px;                /* space between image and heading */
}

.header-block h1 {
    margin: 0;    
    font-size: 80px; 
    text-align: left;  
    color: #1d3227;         /* remove default spacing */
}

.header-block img {
    border-radius: 50%;
}


.main {
    margin-right: 160px;  /* Push away from the right-side sidenav */
    margin-left: 40px;    /* Regular left margin */
    margin-top: 40px;     /* Space from top */
    padding: 0 10px;
    font-size: 28px;
}



@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #344e41;
    color: #dad7cd;
}